@charset "ISO-8859-1";

table {
    word-break: break-word;
}


.text-to-description{
    margin: 0;
    padding: .35rem;
}

.text-to-description-title{
    font-weight: bold;
    margin: 0;
    padding: .35rem;
}